:root{
    --header-bg-clr:#30323D;
    --main-bg-clr:#4D5061;
    --text-clr:#E8E9ED;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
    font-size: 4rem;
    padding: 22px 12px;
    background-color: var(--header-bg-clr);
    color: var(--text-clr);
}

.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: var(--main-bg-clr);
}

.info {
    font-size: 2.5rem;
    color: var(--text-clr);
}

.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    margin:2px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    cursor: pointer;
}

.restart {
    padding: 10px 22px;
    font-size: 2.5rem;
    border-radius: 12px;
    margin-bottom: 16px;
    cursor: pointer;
    border: none;
}

.restart:hover {
    filter: brightness(90%);
}
